<script lang="ts">
    import {REPO_TYPES} from "../constants";
    import {onMount} from "svelte";
    import state from "../state.svelte.ts"

    let {
        repo_data = null
    }: {
        repo_data: ProjectData | null
    } = $props()

    let el: HTMLElement
    onMount(() => {
        if (repo_data!.type === REPO_TYPES.PERSONAL) {
            el.classList.add("personal-repo")
        }

        if (repo_data!.type === REPO_TYPES.GROUP) {
            el.classList.add("group-repo")
        }

        // check languages for the repo and tag appropriately with name of language
        repo_data?.languages?.forEach(lang => {
            el.classList.add(lang.name.replace(" ", ""))
        })

    })

    $effect(() => {
        const currentSelections = state.selectedLanguages

        const selected = currentSelections.filter(name => {
            return el.classList.contains(name);
        })

        if (selected.length > 0) {
            el.classList.add("show")
        } else {
            el.classList.remove("show")
        }
    })
</script>


<div class="repo" bind:this={el}>

    {#if repo_data}
        <h3>
            <a href={repo_data.repo_url} target="_blank">{repo_data.name}</a>

            <hr/>
            <ul>
                {#if repo_data.languages}
                    {#if repo_data.languages.length > 0}
                        {#each repo_data.languages as lang}
                           <li> <p>{lang.name} - {lang.pct}%</p></li>
                        {/each}
                    {:else}
                        <li><p>No languages detected, please visit repository for more information. </p></li>
                    {/if}
                {/if}

            </ul>

        </h3>
    {/if}

</div>
