<script lang="ts">

    import _state from "../state.svelte";


    let languageSelector:HTMLDivElement

    let selectors: any = $state([])

    /**
     * Handles adding / removing the current languages we want to filter for.
     * @param e
     */
    function selectChange(e: InputEvent) {

        //@ts-ignore
        const value = e.target.value
        //@ts-ignore
        const isChecked = e.target!.checked;


        // check selected languages to see if it's there or not. If it is, remove it. Otherwise add it.
        let available = _state.selectedLanguages.filter(lang => lang === value)

        // if not currently selected, presumable we want to add to highlighted
        if (available.length === 0) {
            if (isChecked) {
                _state.selectedLanguages.push(value as never)
            }
        } else {

            // if already checked, remove from selected languages.
            if (!isChecked) {
                let idx = _state.selectedLanguages.indexOf(value as never)
                _state.selectedLanguages.splice(idx, 1)
            }
        }
    }


    $effect(() => {

        // this should only need to happen once so we check to see if selectors array is 0
        if (selectors.length === 0) {
            _state.languages.forEach((lang: any, idx: number) => {

                let classname = lang.replace(" ", "")
                selectors.push({
                    name: lang,
                    classname
                })
            })
        }
    })
</script>


<div class="sidebar h-screen w-64 flex-auto grow-0">
    <p>This is a listing of some current public projects along with the languages that are used in them.
        Click on the title to visit the repository that contains the code.</p>

    <div bind:this={languageSelector} class="language-highlight">
        <br/>
        <p>(De)Select the checkboxes to sort by languages.
        </p>
        <br/>
        <p>Note that this is based on Gitlab's own calculations; they may
            be at times quite off.</p>

        <br/>
        <p>You can see all of this on Gitlab as well
            <a href="http://lnnks.co/30da" target="_blank">here</a>
            at the very bottom
        </p>

        {#each selectors as lang}
            <label>
                <br/>
                <input type="checkbox" value={lang.classname} class={lang.classname} onchange={selectChange}/>
                {lang.name}
                <br/>
            </label>


        {/each}
    </div>

</div>

<style>
    .sidebar {
        padding: 20px;
        overflow: auto;
    }

    .label {
        display: block;


    }

    input[type="checkbox"] {
        margin-right: 2px;
    }
</style>
