<script lang="ts">

    import {onMount} from "svelte";
    import {get_project_languages_url, get_projects_url, REPO_TYPES} from "./constants";
    import state from "./state.svelte";
    import {pullProjects} from "./utils.ts";
    import Repo from "./components/repo.svelte"
    import Sidebar from "./components/sidebar.svelte";

    let personal: any = []
    let group: any = []

    // a merged copy of repos from both personal and group
    let output: any = []

    let isLoading = true


    onMount(async () => {

        // check cache date
        if (state.cacheDate === "") {
            let projects = await pullProjects()
            personal = projects.personal
            group = projects.group


        } else {
            // TODO load from cache
        }

        output = [...personal, ...group]
        output = output.sort(() => Math.random() * 0.5)

        // parse through all the languages available to build the filtering
        let langs: string[] = []

        output.forEach((itm: ProjectData) => {
            let proj_langs = itm.languages

            proj_langs?.forEach(lang => {

                let test = langs.filter(val => val === lang.name)
                if (test.length === 0) {
                    langs.push(lang.name)
                }
            })

        })

        state.updateLanguages(langs)

        let timer = setInterval(() => {
            if (personal.length > 0 && group.length > 0) {
                isLoading = false
                clearInterval(timer)
            }
        })

    })
</script>


<main>

    {#if isLoading}
        <h1>Loading</h1>
    {:else}


        <section class="flex w-screen content">


            <Sidebar/>

            <div class="repo-listing flex-1">

                {#each output as repo}
                    <Repo repo_data={repo}/>
                {/each}
            </div>
        </section>


    {/if}


</main>
