@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --spacing_value: 20px;
    --alt_color: rgba(58, 58, 58, 200);

    --link_color:#646cff;
    --link_hover_color:#535bf2;

    --highlight_link_color: #7d80ca;
}



body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    max-width: 99vw;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    max-width: 1280px;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}



/*----------------------- */
.content {
    width:99vw;
}
a {
    transition: color 0.5s ease;
    font-weight: 500;
    color: var(--link_color);
    text-decoration: inherit;
}

a:hover{
    color: var(--link_hover_color);
    transition: color 0.5s ease;
}

/* general repository container */
.repo-listing {
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20vw;
    padding-top:var(--spacing_value);
    padding-bottom:var(--spacing_value);
}


.repo {
    margin-right: var(--spacing_value);
    margin-bottom: var(--spacing_value);
    padding: 10px;
    width: 230px;
    max-width: 230px;
    height: 230px;
    border: solid 1px #333;
    transition: background 0.5s ease;
    border-radius: 4px;
    background: var(--alt_color);
    position: relative;
}

.repo hr {
    margin-top: 10px;
    padding-bottom: 10px;
    color: red;


}

.repo.show {

    background: #6A6A6A;
    transition: background 0.5s ease;

    & a
    {
        color:white;
    }

    & a:hover {
        color:black;
    }
}

.sidebar {
    background: var(--alt_color);
    position: fixed;
    box-shadow: 1px 1px 30px #1a1a1a;
}
